

body {
  padding-top: 56px;
  background-color: #D5D2C1;
}

.barrappal{
  background-color: rgba(119, 73, 12, 0.836);
  color: khaki;
}

.logokolitas {
  width: 64px;
  height: 64px;
}

a.nav-link {
  color: khaki;
}

.nav-item{

  color: khaki;

}

.nav-link:hover {
  color: white;
  font: verdana;
}

.btnlogin {
  width: 8px;
  
}



.dog-banner {
  width: 1080px;
  height: 350px;
}

.footerkolitas {
  background-color: rgba(119, 73, 12, 0.836);
}

.login-form {
  background-color: rgba(119, 73, 12, );
}

.carrusel {
  border-radius: 7px;
}

.filters {
  margin: 10px;
}

.search-slt{
  border-radius: 20px 20px 0px 0px;
}


.dropdown-toggle {
  height: 38px;
  color: khaki;
}

.haircolor {
  font-style: fa5-proxima-nova
}
.btn-search {

  background-color:rgba(119, 73, 12, 0.836);
  color: khaki;
  border-radius: 40px;
  text-align: center;
  position: relative;
}

.desplegable {

  border-radius: 45px;
}

